body {
  color: red;
  margin: 0; }

header {
  height: 750px;
  width: 100%;
  background: black; }
  header .tabbar {
    display: flex;
    justify-content: space-between;
    height: 74px;
    width: 100%;
    background: black; }
  header a {
    color: white !important;
    text-decoration: none;
    margin: 0; }

.requestElement {
  width: 300px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer; }
